* {
  margin: 0;
  padding: 0;
}
body {
  background: #cdcdcd;
}
.header {
  line-height: 60px;
  background: #333;
}
.header-content {
  width: 600px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}
.header-input {
  outline: none;
  width: 360px;
  margin-top: 15px;
  float: right;
  line-height: 24px;
  border-radius: 5px;
  padding: 0 10px;
}
.undo-list {
  margin: 0 auto;
  width: 600px;
}
.undo-list-title {
  margin: 10px 0;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}
.undo-list-count {
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  background: #e6e6ea;
  border-radius: 50%;
}
.undo-list-content {
  list-style-type: none;
}
.undo-list-item {
  line-height: 32px;
  font-size: 16px;
  margin-bottom: 10px;
  background: #fff;
  border-left: 3px solid #629a9c;
  text-indent: 10px;
  border-radius: 3px;
}
.undo-list-delete {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #e6e6ea;
  text-indent: 0;
  border-radius: 50%;
}
.undo-list-input {
  position: relative;
  top: -1px;
  width: 300px;
  line-height: 22px;
  font-size: 14px;
  text-indent: 10px;
  outline: none;
}
